<div class="footer">
    <div class="footerMenu">
        <div class="footerLinks">
            <ul>
                <li><a href="https://the-supernatural.de/impressum/" align="center">Impressum</a></li>
                <li><a href="https://the-supernatural.de/datenschutzerklaerung/" align="center">Datenschutzerklaerung</a></li>
                <li><a href="https://the-supernatural.de/kontaktformular/" align="center">Kontaktformular</a></li>
            </ul>
        </div>
        <div class="socialButtons">
            <table>
                <tbody>
                    <tr>
                        <td><a href="https://facebook.com/s.oliver.berger/" target="_blank"><i class="fa-brands fa-facebook"></i></a></td>
                        <td><a href="https://x.com/soliverberger/" target="_blank"><i class="fa-brands fa-twitter"></i></i></a></td>
                        <td><a href="https://www.instagram.com/s.oliver.berger/" target="_blank"><i class="fa-brands fa-instagram"></i></a></td>
                        <td><a href="https://www.linkedin.com/in/sven-oliver-berger-540bb2236/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></td>
                        <td><a href="https://www.xing.com/profile/Sven_Berger75/" target="_blank"><i class="fa-brands fa-xing"></i></a></td>
                        <td><a href="https://github.com/sven-berger" target="_blank"><i class="fa-brands fa-github"></i></a></td>
                        <td class="desktop"><a href="https://www.udemy.com/user/sven-berger-6/" target="_blank"><i class="fa-solid fa-graduation-cap"></i></a></td>
                        <td class="desktop"><a href="https://steamcommunity.com/profiles/76561199123151264/" target="_blank"><i class="fa-brands fa-steam"></i></a></td>
                    </tr>
                    <tr>
                        <td><a href="https://facebook.com/s.oliver.berger/" target="_blank">facebook</a></td>
                        <td><a href="https://x.com/soliverberger/" target="_blank">twitter</a></td>
                        <td><a href="https://www.instagram.com/s.oliver.berger/" target="_blank">Instagram</a></td>
                        <td><a href="https://www.linkedin.com/in/sven-berger-540bb2236/" target="_blank">LinkedIn</a></td>
                        <td><a href="https://www.xing.com/profile/Sven_Berger75/" target="_blank">Xing</a></td>
                        <td><a href="https://github.com/sven-berger" target="_blank">GitHub</a></td>
                        <td class="desktop"><a href="https://www.udemy.com/user/sven-berger-6/" target="_blank">udemy</a></td>
                        <td class="desktop"><a href="https://steamcommunity.com/profiles/76561199123151264/" target="_blank">Steam</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p align="center">Copyright 2006 - 2024 by <a href="https://gentlemantis.de/" target="_blank">Sven Oliver Berger</a></p>
    <p align="center">Diese Seite wurde erstellt mit viel <i class="fa-solid fa-heart"></i>, <i class="fa-solid fa-music"></i> und <i class="fa-solid fa-mug-hot"></i></p>
</div>


