<div class="navigation">
  <a href="/1.0.0/">Startseite</a>
  <a href="/1.0.0/blog/" target="_blank">Blog</a>
  <a href="https://php.codevoyage.de/">PHP-Bereich</a>
  <a
    href="https://python.codevoyage.de/"
    class="{% if bereich == 'Python-Bereich' %}active{% endif %}"
    >Python-Bereich</a
  >
  <a href="https://javascript.codevoyage.de/">JavaScript-Bereich</a>
  <a href="/1.0.0/wissensportal//">Wissensportal</a>
  <a
    href="/1.0.0/acp/"
    class="{% if current_section == 'Administrationsbereich' %}active{% endif %}"
    >Administrationsbereich</a
  >
</div>
