<nav class="sidebar">
    <h2>Eigene Werke</h2>
    <div class="sidebarContent">
    <ul>
        <li><a href="https://python.codevoyage.de/umsatzrechner/">Umsatzrechner</a></li>
        <li><a href="https://python.codevoyage.de/passwortgenerator/">Passwortgenerator</a></li>
    </ul>
    </div>
    <h2>Spielerein & Snippets</h2>
    <div class="sidebarContent">
        <ul>
            <li><a href="https://python.codevoyage.de/database-test/">Datenbanktest</a></li>
        </ul>
    </div>
</nav>