{% extends "layout.html" %}
{% block content %}

<form method="POST">
    <label for="zufaellige_zahl">Zufällige Zahl eingeben</label>
    <input type="number" id="zufaellige_zahl" name="zufaellige_zahl" required>
    
    <label for="vergleichszahl">Zahl zum Vergleich angeben</label>
    <input type="number" id="vergleichszahl" name="vergleichszahl" required>
    
    <button type="submit">Vergleichen</button>
</form>

{% if ergebnis %}
    <p>Ergebnis: {{ ergebnis }}</p>
{% endif %}

{% endblock %}